@use "../util/" as *;

.container {
    background-color: var(--white);
    /*background-image: url("/assets/images/illustration-sign-up-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;*/
    margin: 0 auto;
    max-width: rem(800);
    padding: rem(25);

    @include breakpoint(large) {
        padding: rem(20);
        background-color: var(--charcoal-grey);
        background-image: none;
    }
}
