@use "../util" as *;

h1 {
    margin-top: 0;
    font-size: rem(32);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: rem(24);
    @include breakpoint(large) {
        font-size: rem(38);
        font-weight: 700;
    }
}

a, a:visited, a:active {
    text-decoration: none;
}