@use "../util/" as *;

.image {
    &__desktop {
        display: none;

        @include breakpoint(large) {
            display: block;
            top: 0;
            position: absolute;
            margin-top: rem(120);
            margin-left: rem(400);
            width: rem(340);
            height: rem(480);
            object-fit: cover;
        }
    }

    &__mobile {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        @include breakpoint(large) {
            display: none;
        }
    }
}
