@use "../util/" as *;

.signup-form {
    color: var(--dark-slate-grey);

    @include breakpoint(large) {
        background-color: white;
        margin: rem(180) auto 0;
        padding: rem(20);
        border-radius: rem(20);
    }
}